html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	height: 100%;
}

#uberDetails {
	width: 20%;
	height: 80%;
	background-color: #fff;
	font-family: Roboto;
  font-size: 10px;
  font-weight: 300;
  margin-right: 12px;
  text-align: center;

}
.detail{
	display: block;
	width: 100%
}
.inputs {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

